# Course material
aima*
exercises/
*.pdf

# Python
.ipynb_checkpoints
*_cache
__pycache__
.venv/

# Hydra
outputs/

# Workspace
.vscode

# Misc
dump/
.DS_Store
assignment1/replays/replay-20240305-113155.txt
assignment1/replays/replay-minimax-alternate-players.txt
